body {
    background-color: #FFEBEE
}

.card {
    width: 400px;
    background-color: #fff;
    border: none;
    border-radius: 12px
}

label.radio {
    cursor: pointer;
    width: 100%
}

label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none
}

label.radio span {
    padding: 7px 14px;
    border: 2px solid #eee;
    display: inline-block;
    color: #039be5;
    border-radius: 10px;
    width: 100%;
    height: 48px;
    line-height: 27px
}

label.radio input:checked+span {
    border-color: #039BE5;
    background-color: #81D4FA;
    color: #0f0e0e;
    border-radius: 9px;
    height: 48px;
    line-height: 27px
}

.form-control {
    margin-top: 10px;
    height: 48px;
    border: 2px solid #eee;
    border-radius: 10px
}

.form-control:focus {
    box-shadow: none;
    border: 2px solid #039BE5
}

.agree-text {
    font-size: 12px
}

.terms {
    font-size: 12px;
    text-decoration: none;
    color: #039BE5
}

.confirm-button {
    height: 0px;
    border-radius: 10px
}

.activity {
    display: flex;
    border: none;
}

.information1 {
    margin-top: 15px;
    color: red;
    margin-bottom: 10px;
}

.wrapped {
    margin-top: 40px;
    width: 300px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 4 cột, mỗi cột chiếm 1 phần đều nhau */
    gap: 140px;
    /* Khoảng cách giữa các thẻ */
}

.row {
    margin-top: 30px;
}

.submit {
    margin-top: 30px;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    background-color: #039BE5;
    border: none
}

.card-body {
    margin-bottom: 20px;
}

.submit:hover {
    background-color: rgb(70, 174, 229);
    color: white;
}

.add__major {
    margin-top: 20px;
    width: 150px;
    height: 35px;
    background-color: green;
    border: none;
    color: white;
    border-radius: 5px;
}

.amend_title {
    margin-bottom: 0px;
}

.submit_type {
    display: flex;
    justify-content: center;
    /* Căn giữa các phần tử con theo chiều ngang */
    gap: 10px;
    /* Khoảng cách giữa hai nút */
}

.activity_edit {
    width: 50px;
    height: 30px;
    margin-top: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;

}

.activity_delete {
    width: 50px;
    height: 30px;
    margin-top: 10px;
    background-color: rgb(237, 69, 69);
    color: white;
    border: none;
    border-radius: 5px;


}


.list_function {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

}

.title {
    margin-top: 40px;
    text-align: center;
}

.submit_detail {
    margin-top: 10px;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    background-color: #039BE5;
    border: none
}

.submit_detail:hover {
    background-color: rgb(70, 174, 229);
    color: white;
}